# Define the main code language
language: ruby

# Runs rvm dependencies
rvm:
  - 2.2.2

# Before all
befor_script:
  - mysql -e 'create database ubs_test;'

# Script for test env
script:
  - export SECRET_KEY_BASE="$(bundle exec rake secret RAILS_ENV=travis)"
  - bundle exec rake db:migrate:reset RAILS_ENV=travis
  - bundle exec rake RAILS_ENV=travis

# After success runs coveralls for coverage
after_success: coveralls

# Specify branchs to build
branches:
    only:
      - master
