<div class="row">
	<!-- Page Heading/Breadcrumbs -->
    <div class="col-md-12">
		<h1 class="page-header">Contact
			<small>Subheading</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Contact</li>
		</ol>
    </div>
</div>

<!-- Thank You Message -->
<div class="row">
    <div class="col-md-12">
    	<h1>Thank You!</h1>
    </div>
</div>